@use 'variables';

.nav {
  position: absolute;
  top: 0;
  right: 0;
  // border: 2px solid red; //marker
  .drop-down-btn {
    // border: 1px solid green;
    width: 100%; //takes 100% of nav box
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: end; //centers "navigation" textline
    align-items: center;
    position: absolute;
    right: 0;
    padding: 0 1.5rem;
    font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  ul.drop-down-menu {
    // border: 2px solid blue;
    display: none;
    list-style: none;
    // display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    width: 100%; //ul takes 100% of nav box
    top: 50px;
    z-index: 2;
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1.5rem;
    .drop-down-item {
      padding: 1rem 1.5rem;
    }
    // Hover link styles
    .drop-down-item:hover {
      background-color: map-get($mapColorsOrange, orange5);
      color: black;
      border-left: 3px solid map-get($mapColorsGray, gray8);
    }

    a {
      text-decoration: none; //removes link default underline
      color: inherit; // changes default link color to black
    }
  }
}

.nav:hover .drop-down-menu {
  display: flex;
}
